.product-list-container {
  padding: 20px;
  background: #f9fafb;
}

.product-list {
  padding-left: 4rem;
  padding-right: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
}

.product-list-container .pagination {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
} 